// navbar
@use "../abstracts/mixin" as *;
@use "../abstracts/variables" as *;
.header {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  @include flex(space-between);
  &__logo {
    width: 50px;
    height: 50px;
  }
  i {
    display: none;
  }

  &__links {
    list-style-type: none;
    @include flex(space-between);
    gap: 0.5rem;
    padding: 1rem 0;
    &--home {
      color: $headerColor;
      border: none;
      background-color: $mainColor;
      //   font-family: Inter;
      //   font-weight: 500;
      //   font-size: 1rem;
      //   line-height: 19px;
      @include setFont("Inter", 100, 1rem, 19px);
    }
    &--disabled {
      @extend .header__links--home;
      color: #b8becd;
      font-weight: 600;
    }
    &--login {
      @include btn(1.6rem, 0.3rem, $btnBorderColor, $mainColor);
    }
    &--register {
      @include btn(1.6rem, 0.3rem, $mainColor, $btnBorderColor);
    }
  }
}
